### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_df = purchase_data


purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

In [2]:
#List out columns
list(purchase_df.columns.values)

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

In [3]:
#Count unique SN
total_count = purchase_df['SN'].count()
print('Total Players:',(total_count))

Total Players: 780

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items= len(purchase_df['Item Name'].unique())
#author_count = len(goodreads_df["Authors"].unique())
unique_items

179

In [5]:
price = purchase_df[["Price"]]
price.head()

   Price
0   3.53
1   1.56
2   4.88
3   3.27
4   1.44

In [6]:
#Calculate mean of price
avg_price = price["Price"].mean()
avg_price

3.050987179487176

In [7]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [8]:
#number of Purchases
purchases = purchase_df[["Purchase ID"]]
total_purchase = purchases["Purchase ID"].count()

In [9]:
#Total Revenue
revenue = purchase_df[["Price"]]
total_revenue = revenue["Price"].sum()

In [10]:
analysis = pd.DataFrame(
    {"Number of Unique Items": [unique_items],"Average Price":[avg_price],"Number of Purchases":[total_purchase],"Total Revenue":[total_revenue]})
analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
#Count Players by Gender
gender_counts = purchase_df["Gender"].value_counts()
gender_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
purchase_df["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [13]:
dict(gender_counts)

{'Male': 652, 'Female': 113, 'Other / Non-Disclosed': 15}

In [14]:
gender = purchase_df['Gender'].value_counts(dropna=False).keys().tolist()
counts = purchase_df['Gender'].value_counts(dropna=False).tolist()
value_dict = dict(zip(gender, counts))
value_dict

{'Male': 652, 'Female': 113, 'Other / Non-Disclosed': 15}

In [15]:
gender_dem = pd.DataFrame(list(value_dict.items()),columns = ['','Total Count']) 
gender_dem

                          Total Count
0                   Male          652
1                 Female          113
2  Other / Non-Disclosed           15

In [21]:
percentage_player = gender_dem["Total Count"] / 780
gender_dem["Percentage of Players"] = percentage_player
gender_dem.head()

                          Total Count  Percentage of Players
0                   Male          652               0.835897
1                 Female          113               0.144872
2  Other / Non-Disclosed           15               0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
gender_pur = purchase_df.groupby("Gender")
gender_pur = gender_pur.count()
gender_pur

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [35]:
#average purchase price
avg_purchase_price = gender_pur["Price"]/["Total Count"]
gender_dem["Average Purchase Price"] = avg_purchase_price
gender_dem.head()

TypeError: Cannot broadcast np.ndarray with operand of type <class 'list'>

In [29]:
#Remove unwanted columns
gender_pur.pop('SN')
gender_pur.pop('Age')
gender_pur.pop('Price')
gender_pur.pop('Item ID')
gender_pur.pop('Item Name')
gender_pur.columns = ['Purchase Count']
gender_pur

                       Purchase Count
Gender
Female                            113
Male                              652
Other / Non-Disclosed              15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame